<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style2.css') }}" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <title>Dashboard</title>
</head>
<body class="all_dojoMember_bg">
    <div class="container-fluid background centerVertically nav">
        <div class="container-fluid background centerVertically left">
            <p><strong class="welcome_member"> Welcome, {{this_user.first_name}} ({{this_user.account_type}})</strong></p>
            <p class="track">Track Dojo Members</p>
        </div>
        <!-- <div class="container-fluid background centerVertically right">
            <p><a  class="btn blue_btn" href="/home">Workouts</a><a  class="btn red_btn" href="/logout">Logout</a></p>
            <p><a  class="btn blue_btn" href="/user/account">My Members</a><a class="btn blue_btn right"  href="/member/new/member">Add a member</a></p>
        </div> -->
        <div class="all_dojoMember_nav"> 
            <ul class="all_dojoMember_sm_nav p-1">
                <li><a href="/home">Workouts</a></li>
                <li><a href="/user/account">My Members</a></li>
                <li><a href="/member/new/member">Add A Member</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </div>
    <div class="tbl"><br>
        <table id="myTable"class="members_table table table-striped">
            <thead>
                <tr>
                    <th >Full Name</th>
                    <th>Age</th>
                    <th>Location</th>
                    <th>Martial Art Type</th>
                    <th>Plan Type</th>
                    <th>Date Received</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                    {% for member in all_member%}
                        <tr class="table_inside">
                            <td>{{member.first_name}} {{member.last_name}}</td>
                            <td>{{member.age}}</td>
                            <td class="upper-case" > {{member.location}}</td>
                            <td>{{member.martial_type}}</td>
                            <td>{{member.plan_type}}</td>
                            <td>{{member.date_received}}</td>
                            <td class="action">
                                <ul>
                                    <li><a href="/member/show/{{member.id}}">Details</a></li>
                                    {% if member.user.id == session["user_id"] %}
                                        <li><a href="/member/{{member.id}}/edit">Edit</a></li>
                                        {% if member.user.account_type == "admin" %}
                                            <li><a href="/member/{{member.id}}/delete">Delete</a></li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>

