*{
    font-family: sans-serif;
}
/* TITLES ================================================================= */
#title{
    font-size: 75px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
#title_second{
    font-size: 80px;
    font-weight: 600;
    margin-top: 0px;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#share_title{
    font-size: 40px;
    font-weight: 600;
    margin-left: 20px;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#edit_title{
    font-size: 40px;
    font-weight: 600;
    margin-left: 50px;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#helpp{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    margin-left: 35px;
    color: yellow;
}

#routine_title{
    font-size: 35px;
    font-weight: 600;
    padding: 35px;
    margin-left: -5px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.routine_label{
    color: yellow;
}

.share_routine_container{
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 50px;
    background-color: black;
    height: 775px; */
        width: 100%;
        height: 150px;
        margin: 10px;
        color: white;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.edit_routine_container{        
    width: 100%;
    height: 150px;
    margin: 10px;
    color: yellow;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

.left_form{
    margin-top: 20px;
    color: yellow;
}

.share_container{
    background-color: black;
    margin-left: -40px;
    margin-top: -40px;
}

.edit_container{
    background-color: black;
    width: 179vh;
    margin-left: -100px;
    margin-top: -40px;
}

.edit_routine_nav{
    text-align: end;
    margin-top: -10px;

}


.share_routine_nav{
    border-radius: 20px;
    text-align: end;
    width: 450px;
    position: relative;
    right: -800px;
    top: -50px;
    font-size: 16px;

}

#whats_new{
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#tutorials_title{
    font-size: 35px;
    font-weight: 700;
    margin-left: 25px;
    padding: 0px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


#check_this{
    font-size: 35px;
    font-weight: 700;
    margin: 20px;
    padding: 0px;
    text-decoration: underline;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}




.home_pgh{
    position: relative;
    top: -75px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
    color: rgb(255, 255, 0);
    text-decoration:solid;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;



}



/* TUTORIALS W BY MUSCLES =================================*/


.w_by_muscles{
    margin: 20px;
}

.w_b_m{
    position: relative;
    top: -60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: yellow;
    font-size: 22px;
}



/* =============HOME TABLE=============================== */



#workout_table{
    font-size: 20px;
    background: linear-gradient(to right, black, rgba(255, 255, 255, 0.699) 150%);
    margin: 40px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 4px 6px rgba(255, 255, 255, 0.723);
}

/* ================================================================ */




/* BACKGROUNDS==================================================== */
#background{
    margin: 20px;
}

.background{

    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/pool.png);
}

.second_background{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/boxing_ring.jpeg);

}

.home_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/dead_lift.png);


}

.tutorials_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100vh;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/white_gym.webp) ;

}

.share_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    font-size: 15px;
    margin: 20px;
    padding: 10px;
    background-size:cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/members-3.jpeg) ;

}


.edit_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/white_dojo.webp) ;


}


.view_routine_bg{
    animation:fadeIn 2s ease-in-out;
    width: 100%;
    height: 100%;
    margin: 20px;
    padding: 10px;
    background-size: cover;
    background-position: center;
    background-image:linear-gradient(rgba(0, 0, 0, 0.475), rgba(0, 0, 0, 0.475)), url(../imgs/members-8.jpeg) ;


} 


/* ================================================================================ */




.logo1, .logo2{
    height: 125px;
    border-radius: 200%;
    border: 4px solid rgba(255, 12, 109, 0.552);

}


.nav_bar{
    width: 300px;
    margin: auto;
    padding: 10px 0;
    display: flex;
    position: relative;
    right: -478px;
    
}

.second_nav{
    text-align: center;
    background-color: rgba(70, 79, 87, 0.459);
    width: 350px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 2px 2px white;

}



.home_sm_nav{
    margin-top: 55px;
    font-size: 15px;
    margin-right: -175px;
}

.home_nav{

    width: 85%;
    padding: 2px 0;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
/* ========================================================== */
}


/* WELCOME_PATH NAV BAR */


.nav_bar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.nav_bar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav_bar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 255, 0);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.nav_bar ul li:hover::after{
    width: 100%;
}


/* HOME  NAV BAR========================================*/

.home_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.home_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.home_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: rgb(255, 255, 0);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.home_nav ul li:hover::after{
    width: 100%;
}


/* ============================================================== */

/* SHARE ROUTINE NAV BAR */


.share_routine_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.share_routine_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.share_routine_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.share_routine_nav ul li:hover::after{
    width: 100%;
}


/* ============EDIT ====================== */
.edit_routine_sm_nav{
    margin-bottom: 50px;
    margin-right: -175px;
    
}
.edit_routine_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.edit_routine_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.edit_routine_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.edit_routine_nav ul li:hover::after{
    width: 100%;



}
.edit_routine_nav{
    margin-right: -750px;
}
.edit_routine_sm_nav{
display: flex;
justify-content: flex-end;
}




.flexx{
    display: flex;
    justify-content: flex-end;
    width: 500px;

}

/* ===========VIEW ROUTINE NAV================================ */

.routine_top{
    background-color: black;
    width: 177vh;
    margin-left: -93px;
    margin-top: -40px;
    height: 180px;

}

.routine_sm_nav{
    margin-top: -45px;
    margin-right: 100px;

}
#view_routine{
    display: flex;
    justify-content: flex-end;
}
.routine_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.routine_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.routine_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;
}
.routine_nav ul li:hover::after{
    width: 100%;
}


/* ============================================================== */




/* =====TUTORIALS LINKS========================================== */
.M{
    color: yellow;
}
#links_nav{

    background: linear-gradient(to right,rgb(0, 0, 0) 35%,rgba(255, 255, 0, 0.197));
    border-radius: 2%;
    border: 2px solid yellow;
    margin: 15px;
    padding: 20px;
    position: relative;
    top: -100px;
}


#links_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    border-radius: 5px;
}

#links_nav ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-weight: 600;
}

#links_nav ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

#links_nav ul li:hover::after{
    width: 100%;
}

/* ============ ACTION LINKS=============================

*/
.action{
    border-radius: 5%;
    width: 600px;
    margin-right: -200px;
    font-size: 15px;
}


.action ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
    border-radius: 5px;
}

.action ul li a{
    border-radius: 5px;
    text-decoration: none;
    color: rgb(56, 172, 255);
    text-transform: uppercase;
    font-weight: 700;
}

.action ul li::after{
    content: '';
    height: 4px;
    width: 0;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.action ul li:hover::after{
    width: 100%;
}



/* ====================================================== */

#reg, #log{
    background-color: rgba(70, 79, 87, 0.459);
    border-radius: 5%;
    width: auto;
    height: 575px;
    margin-top: 2%;
    margin-bottom: 30px;
}

#left_box, #right_box{
    background-color: rgba(70, 79, 87, 0.459);
    border-radius: 5%;
    width: 530px;
    height: 575px;
    box-shadow: 4px 4px  white;
    margin-bottom: 30px;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.click{
    position: absolute;
    bottom: 220px;
    left: 700px;
    font-size: 20px;
}

.create_btn{
    border-radius: 20px;
    position: relative;
    right: -600px;
    top: -90px;
}

.update_btn{
    
        border-radius: 20px;
        position: relative;
        right: -600px;
        top: -90px;
    
}



.top_right_box, .top_left_box{
    text-decoration: underline;
    margin: 10px;

}

.form-group{
    width: 300px;
    height: 70px;
}


button{
    width: 200px;
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid yellow;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.error{
    text-align: center;
    align-items: center;
    color: rgb(255, 0, 0);
    font-size: 15px;
    width: 30%;
    height: 20px;
}


.error_share{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 0, 0);
    font-size: 20px;
    width: 1000px;

}







.error_sharing{
    text-align: center;

    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
    width: 50%;
    height: 30px;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.5), black, rgba(255, 0, 0, 0.5), black,rgba(255, 0, 0, 0.5), black);
    border-radius: 100px;
    border: 2px solid rgb(255, 0, 0);
    box-shadow: 4px 4px 4px 4px black;
}


/* .error{
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    background: linear-gradient(to left, rgba(255, 0, 0, 0.5), black, rgba(255, 0, 0, 0.5), black,rgba(255, 0, 0, 0.5), black);
    border-radius: 100px;
    border: 2px solid rgb(255, 0, 0);
    text-align: center;
    box-shadow: 4px 4px 4px 4px black;
    width: 75vh;
    position: relative;
    right: -400px;
} */

.span{
    background:rgba(255, 255, 0, 0.300);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
span{
    background:rgba(255, 255, 0, 0.300);
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

}
button:hover span{
    width: 100%;
}

button:hover {
    border: none
}














html, .bodyy {
    height: 100%;
}

.bodyy {
    font-family: 'Roboto';
    text-align: center;
    color: #f5f5f5;
    height:100vh;
    width: 100vh;
    animation:fadeIn 2s ease-in-out;
    background-image:linear-gradient(rgba(0, 0, 0, 0.250), rgba(0, 0, 0, 0.250)), url(../imgs/black_carbon.jpeg);

}




/* ====================== */

.hero {
    height: 100%;
    width: 100%;
    position: absolute;
}
#enter{
    position:absolute;
    left: 570px;
    bottom: 100px;
}

.inner-text {
    position: relative;
    top: 300px;
    transform: translateY(-50%);
    font-size: 10vmin;
    @media only screen and (min-width: 320px) {
    padding-left: 15px;
    padding-right: 15px; 
    }
    @media only screen and (min-width: 400px) {
    padding-left: 40px;
    padding-right: 40px; 
    }
    @media only screen and (min-width: 680px) {
    font-size: 75px;
    }
    @media only screen and (min-width: 950px) {
    font-size: 100px;
    }
}

.p1 {
    display: inline-block;
    font-size: 1em;
    font-weight: 900;
    margin: 0;
    line-height: 1;
    @media only screen and (max-width: 465px) {
    display: block;
    position: absolute;
    top: -50%;
    left: 50%;
    transform: translateX(-50%);
    }
}

.p2 {
    display: inline-block;
    font-size: 1em;
    font-weight: 700;
    font-size: 200px;
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0;
    line-height: 1;
    color: yellow;
    @media only screen and (max-width: 465px) {
    position: relative;
    top: 0.6em;
    }
}

@keyframes fadeIn {
    0% {
    opacity:0;
    }
    100% {
    opacity:1;
    }
}

.w_t{
    position: absolute;
    bottom: -20px;
    right: 40%;

}

.w_time{
    font-weight: 400;
    text-decoration: underline;
    font-size: 35px;
}




/* ===================================== */

/* =============ROUTINE BOX / CONTAINER========= */

.routine_container{
    height: 90%;
    width: 750px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}

.routine_box{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.439) 60%, rgba(255, 255, 0, 0.439));
    width: 800px;
    padding: 10px;
    height:550px;
    margin-top: 10px;
    border: 2px solid yellow;
    border-radius: 3%;
}

.routine_label{
    font-size: 20px;
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edit_btn{
    border-radius: 20%;
}

.icon{
    width: 200px;
    position:absolute;
    right: -625px;
    bottom: -220px;
    height: 200px;
    border-radius: 50%;
    /* background: white; */
    perspective: 800px;
}
.icon .icon_items{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: -10px;
}

.icon .icon_items:nth-child(1){
    border-bottom: 6px solid rgb(255, 255, 255);
    transform: rotateX(35deg) rotateY(-45deg);
    animation: rotate-one 1s linear infinite;
}

.icon .icon_items:nth-child(2){
    border-right: 6px solid rgb(255, 255, 255);
    transform: rotateX(50deg) rotateY(10deg);
    animation: rotate-two 1s linear infinite;
}
.icon .icon_items:nth-child(3){
    border-top: 6px solid rgb(255, 255, 0);
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-three 1s linear infinite;
}
.icon .icon_items:nth-child(4){
    border-top: 6px solid rgb(255, 255, 0);
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-four 1s linear infinite;
}


@keyframes rotate-one {
    to{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate-two {
    to{
        transform: rotateX(50deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate-three {
    to{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}
@keyframes rotate-four {
    to{
        transform: rotateX(75deg) rotateY(24deg) rotateZ(360deg);

    }
}


/* =============================== */

.icon2{
    width: 200px;
    position:absolute;
    right: -625px;
    bottom: -280px;
    height: 200px;
    border-radius: 50%;
    /* background: white; */
    perspective: 800px;
}
.icon2 .icon2_items{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: -10px;
}

.icon2 .icon2_items:nth-child(1){
    border-bottom: 6px solid rgb(255, 255, 255);
    transform: rotateX(35deg) rotateY(-45deg);
    animation: rotate-one 1s linear infinite;
}

.icon2 .icon2_items:nth-child(2){
    border-right: 6px solid rgb(255, 255, 255);
    transform: rotateX(50deg) rotateY(10deg);
    animation: rotate-two 1s linear infinite;
}
.icon2 .icon2_items:nth-child(3){
    border-top: 6px solid rgb(255, 255, 0);
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-three 1s linear infinite;
}
.icon2 .icon2_items:nth-child(4){
    border-top: 6px solid rgb(255, 255, 0);
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-four 1s linear infinite;
}


@keyframes rotate-one {
    to{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate-two {
    to{
        transform: rotateX(50deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate-three {
    to{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}
@keyframes rotate-four {
    to{
        transform: rotateX(75deg) rotateY(24deg) rotateZ(360deg);

    }
}


.home-container{
    background-color:black;
    width: 100%;
    height: 150px;
    margin-top: -20px;
    color: white;
}
.t{
    background-color: rgb(0, 0, 0);
    margin-top: -125px;
    margin-left: -40px;
    height: 190px;
    padding: 10px;
    width: 180vh;

}


.whats_new{
    position: absolute;
    top: -5px;
}


.tr{
    background: linear-gradient(to left, yellow, black);
}



.tutorials_nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.tutorials_nav ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}

.tutorials_nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(255, 255, 0);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.5s;

}

.tutorials_nav ul li:hover::after{
    width: 100%;
}

.tutorials_sm_nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 10vh;
    margin-right: 15vh;
}






.welcome_icon{
    width: 200px;
    position:absolute;
    right: -625px;
    bottom: -220px;
    height: 200px;
    border-radius: 50%;
    /* background: white; */
    perspective: 800px;
}
.welcome_icon .welcome_icon_items{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: -10px;
}

.welcome_icon .welcome_icon_items:nth-child(1){
    border-bottom: 6px solid rgb(255, 255, 255);
    transform: rotateX(35deg) rotateY(-45deg);
    animation: rotate-one 1s linear infinite;
}

.welcome_icon .welcome_icon_items:nth-child(2){
    border-right: 6px solid rgb(255, 255, 255);
    transform: rotateX(50deg) rotateY(10deg);
    animation: rotate-two 1s linear infinite;
}
.welcome_icon .welcome_icon_items:nth-child(3){
    border-top: 6px solid rgb(255, 255, 0);
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-three 1s linear infinite;
}
.welcome_icon .welcome_icon_items:nth-child(4){
    border-top: 6px solid rgb(255, 255, 0);
    transform: rotateX(35deg) rotateY(55deg);
    animation: rotate-four 1s linear infinite;
}


@keyframes rotate-one {
    to{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate-two {
    to{
        transform: rotateX(50deg) rotateY(-45deg) rotateZ(360deg);

    }
}

@keyframes rotate-three {
    to{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);

    }
}
@keyframes rotate-four {
    to{
        transform: rotateX(75deg) rotateY(24deg) rotateZ(360deg);

    }
}


#table_edit{
    margin: 10px;
    padding: 10px;
    margin-left: -45px;
}

.changes{
    position: absolute;
    left: 55px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
}